<footer class="footer-custom">
  <div class="container">
    <div class="row">
      <div class="col-md-4 my-1 footer-copyright">
        <p style="padding-right: 170px">Developers</p>
        <ul class="">
          <li style="text-align: left;">
            <a
              class="anchor-black"
              href="https://www.linkedin.com/in/shanacharya/"
              >Shantanu Acharya</a
            >
          </li>
          <li style="text-align: left;">
            <a
              class="anchor-black"
              href="https://www.linkedin.com/in/sunildinday/"
              >Sunil Dinday</a
            >
          </li>
          <li style="text-align: left;">
            <a
              class="anchor-black"
              href="https://www.linkedin.com/in/ranjeet-kumar-7832b4131/"
              >Ranjeet Kumar</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4 my-1" style="padding-top: 22px">
        <img
          src="https://image.ibb.co/cFLKpH/CODE_WARRIOR_N.png"
          alt="CODE_WARRIOR_N"
          border="0"
          style="width: 190px;height: 60px"
        />
        <!-- <img src="https://image.ibb.co/eaahPH/hackerearth.png" alt="hackerearth" border="0" /> -->

        <p class="text-center">© 2019, Technical Society NIT Mizoram</p>
      </div>
      <div class="col-md-4 mt-4 social-networks">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a
              class="anchor-black"
              target="_blank"
              href="https://github.com/morphosis-nitmz"
            >
              <i class="fab fa-github" aria-hidden="true"></i> </a
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </li>
          <li class="list-inline-item">
            <a
              class="anchor-black"
              target="_blank"
              href="https://www.linkedin.com/company/13677719"
            >
              <i
                style="width: 50px;height: 50px;"
                class="fab fa-linkedin-in"
                aria-hidden="true"
              ></i> </a
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </li>
          <li class="list-inline-item">
            <a
              class="anchor-black"
              target="_blank"
              href="https://www.instagram.com/nitmz_morphosis/?hl=en"
            >
              <i class="fab fa-instagram" aria-hidden="true"></i> </a
            >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </li>
          <li class="list-inline-item">
            <a
              class="anchor-black"
              target="_blank"
              href="https://www.facebook.com/NITMz.morphosis/"
            >
              <i class="fab fa-facebook-f" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
