@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
}

#wrap {
  min-height: 75%;
}

.dropdown .dropdown-menu a:hover {
  background-color: #dcdce1;
  color: #000;
}

a.dropdown-item.active {
  background-color: #d9cdca;
  color: #000;
}

body {
  text-align: center;
  /* background-image: url("https://image.ibb.co/ddx3mx/Website_Design_Background_mast.png"); */
  /* background: rgba(19, 35, 47, 0.9); */
  background: url('https://s3.gifyu.com/images/ezgif.com-video-to-gifb6c69851d1fda6b9.gif');
  font-weight: 100;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(43, 59, 51);
  font-weight: 100;
  font-size: 40px;
  /* margin: 40px 0px 20px;*/
}

#clockdiv {
  color: #fff;
  font-weight: 50;
  font-size: 20px;
}

#clockdiv > div {
  padding: 5px;
  border-radius: 3px;
  background: rgb(7, 43, 58);
  display: inline-block;
}

#clockdiv div > span {
  padding: 8px;
  border-radius: 3px;
  background: rgb(140, 142, 175);
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}
#ques {
  background-color: rgb(233, 236, 239);
}

#question {
  text-decoration-color: #396;
}

.footer {
  position: relative;
  margin-top: -80px; /* negative value of footer height */
  height: 80px;
  clear: both;
  padding-top: 20px;
}

.footer-custom {
  background-color: #dcdce1;
  padding: 60px 40px;
  color: #000;
}

.Qualified{
    color:#008000;
}
